---
export const prerender = true;
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex" />
	<title>内容编辑器 - Sveltia CMS</title>
	<link rel="icon" type="image/png" href="/favicon/favicon-light-128.png" />
	<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
</head>
<body>
	<script is:inline data-cfasync="false" src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>
</body>
</html>
